    .tabs-container {
        position: fixed;
        top: 0;
        left: 70px;
        right: 0;
        height: 60px;
        background: #fff;
        border-bottom: 1px solid #efefef;
        z-index: 1000;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .tab-item {
        height: 100%;
        padding: 0 24px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 600;
        color: #000;
        cursor: pointer;
        position: relative;
        white-space: nowrap;
        flex: 0 0 auto;
        transition: color 0.2s ease;

        &:hover {
            color: #60A5FA;
        }

        &.active {
            color: #60A5FA;
        }

        &.active::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 40px;
            height: 1.5px;
            background-color: #60A5FA;
        }
    }