.wrapper {
    width: 100%;
    min-height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emptyText {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: #9b9b9b;
}