.wrapper {
    display: flex;
    padding: 0px 0;
    align-items: flex-start; // Căn đỉnh để avatar không bị chạy xuống giữa
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.info {
    flex: 1;
}

.name {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 2px; // Khoảng cách cực nhỏ giữa tên và caption
    display: flex;
    align-items: center;
}

.nickname {
    color: var(--text-color);
}

.check {
    margin-left: 4px;
    color: var(--primary-color);
    font-size: 1.4rem;
}

.caption {
    font-size: 1.5rem;
    line-height: 2.1rem;
    color: #161823;
    white-space: pre-line;
    word-break: break-word;
}

.actions {
    margin-top: 6px;
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);

    .reply {
        margin-left: 12px;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
