.wrapper {
    position: fixed;
    top: 0;
    left: 72px; // đúng bằng chiều rộng sidebar của bạn
    right: 0;
    height: 64px;
    background: #fff;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid #e9e9e9;
}

.title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: #60A5FA;
    line-height: 1;
}

.has-dropdown {
    gap: 4px;
}