.wrapper {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 100px;
    max-height: 700px; // Giới hạn chiều cao cho Popper
    overflow-y: auto; // Tự động có thanh cuộn nếu nội dung quá dài
    border: 1px solid rgba(0, 0, 0, 0.05);
}